<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        /* background-color: #f4f4f4; */
    }
    .container {
        max-width: 960px;
        margin: auto;
        padding: 8px;
        background-color: #ffffff;
        /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    }
    img.avatar {
        margin-top: 2rem;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    h1 {
        color: #333333;
    }
    p {
        line-height: 1.6;
        color: #555555;
    }
    ul.skills {
        list-style-type: none;
        padding-left: 0;
    }
    ul.skills li:before {
        content: "\2022";
        color: #007BFF;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
</style>


<div class="container">
    <img class="avatar" src="https://wanx.alicdn.com/wanx/1484461767598484/text_to_image/ccd20cb42a3e4bf48a610e1c4a019151_0.png?x-oss-process=image/watermark,image_d2FueC93YXRlcm1hcmsvcWlhbndlbl93YXRlcm1hcmsucG5n,t_80,g_se,x_30,y_30/format,webp" alt="个人头像">
    <h2> 渐行渐远 · Golang / Java / PHP</h2>
    <p>{{ .Content }}</p>
</div>